.main_body {
  margin-top: 60px;
}
.form_body {
  height: 60vh;
  width: 100%;
  background-color: #7430fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit_btn {
  margin-top: 40px;
  padding: 10px;
  /* background-color: white; */
  border-radius: 10px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: none;
  color: black;
}

/* .submit_btn:hover {
  background-color: rgb(219, 216, 216);
  color: white;
} */

.Edit_btn {
  padding: 5px;
  background-color: #7430fa;
  border: none;
  color: white;
  border-radius: 5px;
}

.Edit_btn:hover {
  background-color: #9160f3;
}

.submit_btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.successMsg {
  color: black;
  text-align: center;
}
.edit_close_btn,
.edit_submit_btn {
  background-color: white;
  color: black;
}
.edit_close_btn:hover,
.edit_submit_btn:hover {
  background-color: rgb(235, 223, 223);
  color: black;
}
