.main_body {
  margin-top: 60px;
}
.form_body {
  height: 60vh;
  width: 100%;
  background-color: #7430fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit_btn {
  margin-top: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: none;
}

.submit_btn:hover {
  background-color: black;
  color: white;
}

.submit_btn:focus {
  outline: none;
  box-shadow: none;
}



.successMsg {
  color: black;
  text-align: center;
}
